/*######### Defaults #######*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eee;
}

nav {
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.contact {
    background-image: url(footer.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
}

.contact-data {
    background-image: url(white.webp);
    background-size: cover;
    background-position: center center;
    padding: 0 20px;
    height: 300px;
    width: 95%;
}

.section-1 {
    padding: 30px;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

article p {
    font-size: 25px;
    padding: 10px;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0;
    padding-bottom: 1%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.comments {
    width: 100%;
    background-image: url(girl.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 1.0;
    padding: 0 10%;
    margin: auto;
}

.comments-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 700px;
}

.comment-child {
    /* ne valja ovako, mora lepo visina da se podesi*/
    width: 300px;
    height: 460px;
    text-align: center;
    color: #e8e4c9;
    margin: auto;
    border: 5px white solid;
}

.sign {
    text-align: right;
    color: #e8e4c9;
    padding: 0 10px 0 0;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: #e8e4c9;
    background-image: url(backgruond.jpg);
}

.title {
    height: 100%;
    margin: 0 5%;
    color: black;
    text-align: left;
    font-size: 29px;
}

#commentTitle {
    color: black;
    text-align: center;
    /* font-size: 29px; */
}

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px 0 0;
    width: 100%;
}

.price-table {
    border: 3px #030303 solid;
    border-collapse: collapse;
    width: 70%;
}

.price-table tr>* {
    font-size: 15px;
    text-align: center;
    border: 3px black solid;
    padding: 30px 30px 30px 30px;
    font-weight: bold;
}

.tips-table {
    border-collapse: collapse;
    margin: 0 40px;
}

.tips-table tr {
    font-size: 19px;
    text-align: center;
}

.tips-table tr>* {
    font-size: 20px;
    padding: 0 15px;
    text-align: left;
}

#Icon {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#explain-icon {
    width: 140px;
    height: 140px;
    padding: 10px;
}

.explain {
    margin: 0 60px 0 10px;
    padding: 10px 10px 0 90px;
    width: 80%;
}

.explain tr>* {
    font-size: 20px;
    padding: 0 60px 0 10px;
    text-align: left;
}

textarea {
    width: 87%;
    height: 75px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 15px;
}

div input {
    width: 60%;
    height: 35px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

div.child-1 p {
    padding: 0 30px 0 30px;
}

/* section#Comments {
    display: block;
    height: 100%;
    background-image: url(skijasica.jpeg);
} */

.about {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
}

.line {
    border-style: dotted none none none;
    border-color: #666;
    width: 100%;
    border-width: thick;
    margin: 10% 0;
}

section.baner #myVideo {
    display: block;
    width: 100%;
    margin-top: 24px;
}

#image-about {
    border: 1px #030303 solid;
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

figcaption {
    padding-top: 6px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

#myBtn:hover {
    font-size: 35px;
    color: red;
}

button {
    background-color: transparent;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/*########### Nav bar ##########*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
    text-align: center;

}

ul.topnav li a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    min-height: 45px;
    padding-left: 7px;
    padding-right: 7px;
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

ul.topnav li a img {
    width: auto;
    height: 45px;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*######### MOBILE #######*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    .child {
        text-align: center;
        width: 50%;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: flex;
        text-align: left;
    }

    .col-6,
    .col-4,
    .col-5,
    .col-7 {
        width: 100%;
        margin: 0;
    }

    div.mobileStack {
        width: 50%;
        display: block;
    }

    div.leftSide_col,
    div.rightSide_col {
        margin: 15px;
    }

    textarea,
    div input {
        width: 85%;
    }

    div.box {
        display: block;
        padding: 5px;
    }

    div.slopeIcon {
        margin: 10px;
    }

    div.slopeIcon img {
        width: 100%;
    }

    section {
        padding: 0px;
    }

    .row {
        padding: 10px;
    }
}