/*######### Defaults #######*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eee;
    /* font-family: Arial, sans-serif; */
}

nav {
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 10;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: #e8e4c9;
    background-image: url(backgruond.jpg);
}

section.baner #myVideo {
    display: block;
    /* padding-top: 44px; */
    width: 100%;
    max-width: 100%;
    margin-top: 24px;
    /* position: relative; */
    /* height: 100%; */
    /* overflow: hidden; */
}

.video-content {
    width: 90%;
    /* Dodajte širinu da se sadržaj prilagođava širini ekrana */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Boja teksta */
    text-align: center;
    margin-top: 80px;
    z-index: 2;
    /* Pomeranje preko videa */
}

.video-content h2 {
    margin: 0;
    color: black;
    font-size: 3vw;
    /* Font veličina zavisi od širine ekrana */
}

.video-content p {
    font-size: 2vw;
    /* Smanjuje veličinu fonta u zavisnosti od ekrana */
    color: black;
}

.video-content img {
    max-width: 600px;
    width: 100%;
    height: auto;
    max-height: 50vh;
    margin-top: 50px;
}

.video-flags {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 5px;
}

.video-flags img {
    width: 30px;
    /* Širina zastava */
    height: auto;
    margin-right: 5px;
    align-content: center;
    align-items: center;
}

/* Manji ekrani, kao mobilni uređaji */
@media (max-width: 768px) {
    .video-content {
        width: 50%;
        top: 25%;
    }

    .video-content h2 {
        font-size: 2vw;
    }

    .video-content p {
        font-size: 2vw;
    }

    .video-content img {
        max-height: 20vh;
        /* Manja visina slika na manjim ekranima */
    }
}

/* Mobilni uređaji sa veoma malim ekranima */
@media (max-width: 480px) {
    .video-content {
        width: 75%;
        top: 5%;
    }

    .video-content h2 {
        font-size: 2vw;
        /* Dalje smanjuje font na malim ekranima */
    }

    .video-content p {
        font-size: 2vw;
    }

    .video-content img {
        max-height: 20vh;
        /* Manja visina slika */
    }
}

.titleBlog h1 {
    height: 100%;
    margin: 0 5%;
    color: black;
    text-align: left;
    font-family: YACgEQNAr7w-0;
    font-size: x-large;
}

.titleBlog h3 {
    height: 100%;
    margin: 0 15%;
    color: black;
    text-align: left;
    font-family: YACgEQNAr7w-0;
    font-size: medium;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

#myBtn:hover {
    font-size: 35px;
    color: red;
}

button {
    background-color: transparent;
}

/*########### Nav bar ##########*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.Blog {
    display: flex;
    flex-direction: column;
}

ul.Blog li {
    height: 100%;
    margin: 0 15%;
    color: black;
    text-align: left;
    font-family: YACgEQNAr7w-0;
    font-size: medium;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
    text-align: center;
}

ul.topnav li a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    min-height: 45px;
    padding-left: 7px;
    padding-right: 7px;
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

/* 
hr {
    size: 2px;
} */

ul.topnav li a img {
    width: auto;
    height: 45px;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}


/*######### Blog show more #######*/
.text {
    font-size: 24px;
}

.moreText {
    display: none;
}

.read-more-btn {
    padding: 15px 60px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.text.show-more .moreText {
    display: inline;
}

.text.show-more .dots {
    display: none;
}

/*######### MOBILE #######*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    .frame {
        width: 100%;
        height: 100%;
        background-color: #e8e4c9;
        background-image: url(backgruond.jpg);
    }

    .child {
        text-align: center;
        width: 50%;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: flex;
        text-align: left;
    }

    div.mobileStack {
        width: 50%;
        display: block;
    }

    div.leftSide_col,
    div.rightSide_col {
        margin: 15px;
    }

    div input {
        width: 85%;
    }

    div.box {
        display: block;
        padding: 5px;
    }

    div.slopeIcon {
        margin: 10px;
    }

    div.slopeIcon img {
        width: 100%;
    }

    section {
        padding: 0px;
    }
}

.class-container {
    max-width: 800px;
    margin: 0 auto;
}

.main-title {
    text-align: center;
    font-size: 60px;
    font-family: Arial, sans-serif;
    margin-top: auto;
    padding-top: 40px;
}

.about-title {
    text-align: left;
    font-size: 2.5em;
    font-family: Arial, sans-serif;
}

.class-sections {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    /* Razmak između celine */
    margin: 0 15%;
}

.class-section {
    border: 1px solid #e8d1ae;
    border-radius: 5px;
    padding: 20px;
    background-color: #e8d1ae;
    flex: 1;
    /* Da svaka celina zauzima jednaku širinu */
    display: flex;
    flex-direction: column;
    /* Postavi raspored u kolonu */
    height: auto;
}

.class-header {
    display: flex;
    /* Logo i naslov u istom redu */
    align-items: center;
    /* Poravnaj elemente vertikalno */
    margin-bottom: 10px;
    /* Razmak između zaglavlja i teksta */
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
    /* Razmak između logoa i naslova */
}

.section-title {
    margin: 0;
    /* Ukloni margin gornjem i donjem delu */
    font-size: 1.5em;
}

.section-text {
    font-size: 1em;
    color: #333;
}

/* Media Query za responsive */
@media (max-width: 600px) {
    .class-sections {
        flex-direction: column;
        /* Celine jedna ispod druge */
        gap: 20px;
    }

    .class-section {
        margin-right: 0;
        margin-bottom: 20px;
        /* Razmak između celine u vertikalnom rasporedu */
        flex-direction: column;
    }

    .class-section:last-child {
        margin-bottom: 0;
        /* Ukloni margin poslednjoj celini */
    }

    .class-header {
        flex-direction: row;
        /* Održavaj logo i naslov u istom redu */
    }

    .main-title {
        text-align: center;
        width: 100%;
        font-size: 30px;
        font-family: Arial, sans-serif;
        /* margin: 10% 0 5% 5%; */
        padding-top: 20px;
    }

    .about-title {
        font-size: 1.5em;
    }
}

.about-container {
    max-width: 100%;
    margin: 0 5% 0 2%;
}

.about-sections {
    display: flex;
    gap: 100px;
    width: 100%;
}

.left-column {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    max-width: 630px;
    height: auto;
}

.about-section-text {
    font-size: 1em;
    color: #333;
}

.section-list {
    list-style-type: disc;
    /* Stil liste */
    padding-left: 10px;
    /* Razmak između liste i ivice */
}

.right-column {
    height: auto;
    /* Obezbedi da desna kolona zauzima istu visinu */
}

.line {
    margin: 50px 0;
    /* Razmak iznad i ispod linije */
    border-style: dotted none none none;
    border-color: #666;
    /* Boja linije */
    border-width: thick;
}

.image {
    width: 100%;
    height: auto;
    /* Održava proporcije slike */
    min-height: 400px;
    /* Minimalna visina slike */
    border: 1px #030303 solid;
    border-radius: 10px;
}

.contact-button {
    background-color: #cdad7d;
    /* Boja pozadine dugmeta */
    color: #222344;
    /* Boja teksta */
    padding: 10px 15px;
    /* Unutrašnji razmak */
    border-radius: 5px;
    /* Zaobljeni uglovi */
    text-align: center;
    /* Centriranje teksta */
    margin-top: 100px;
    /* Razmak iznad dugmeta */
    width: 300px;
}

.contact-button a {
    color: #222344;
    /* Boja linka */
    text-decoration: none;
    /* Ukloni podvlačenje */
    font-weight: bold;
    /* Podebljani tekst */
}

.contact-button a:hover {
    text-decoration: underline;
    /* Podvlačenje na hover */
    opacity: 0.9;
    /* Lagano smanjenje neprozirnosti */
}

/* Media Query za responsive */
@media (max-width: 600px) {
    .about-sections {
        flex-direction: column;
        /* Celine jedna ispod druge */
    }

    .left-column,
    .right-column {
        width: 100%;
        /* Obe kolone zauzimaju punu širinu */
        height: auto;
        /* Visina automatski */
        margin-bottom: 20px;
        /* Razmak između kolona */
    }

    .right-column {
        height: auto;
        /* Osiguraj da desna kolona nije fiksne visine */
    }

    .contact-button {
        width: 100%;
    }
}

.services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.services-title {
    text-align: center;
    /* font-size: 60px; */
    font-family: Arial, sans-serif;
}

.services-list {
    text-align: left;
    /* font-size: 60px; */
    font-family: Arial, sans-serif;
}


.list-container {
    display: flex;
    flex-direction: column;
    /* Postavlja listu u kolonu */
    gap: 30px;
    /* Razmak između stavki */
    align-items: center;
}

.list-item {
    display: flex;
    align-items: center;
    /* Vertikalno centriranje */
    width: 70%;
    /* Podesi širinu na 70% */
}

.list-item p {
    font-style: normal;
    font-size: 14px;
    color: #030303;
}

.list-image {
    width: 100px;
    /* Fiksna širina slike */
    height: auto;
    /* Održava proporcije slike */
    margin-right: 15px;
    /* Razmak između slike i teksta */
}

.list-text {
    flex: 1;
    /* Tekst zauzima preostalu širinu */
}

p {
    font-size: 1.5em;
    /* Podesi veličinu opisa */
}

/* Responsive prilagođavanje */
@media (max-width: 600px) {
    .list-image {
        width: 80px;
        /* Manja širina slike na manjim ekranima */
    }

    p {
        font-size: 0.9em;
        /* Manja veličina opisa */
    }

    .list-item {
        width: 80%;
    }

    .price-container .left-column {
        width: 80%;
    }

    .services-list {
        padding: 10%;
    }
}


.price-container {
    display: flex;
    justify-content: center;
    /* Centriranje kolona */
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.price-container .left-column {
    max-width: 500px;
    /* Ograničava maksimalnu širinu tabele */
    margin: 0 50px 20px 0;
    /* Razmak između kolona smanjen na 50px */

}

.price-container .list-container {
    width: 100%;
    max-width: 600px;
    /* Ograničava širinu liste */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.price-container table {
    width: 100%;
    border-collapse: collapse;
    /* Kombinovanje ivica ćelija */
}

td {
    border: 3px solid #030303;
    /* Bordura za ćelije */
    padding: 8px;
    text-align: center;
    /* Centriranje sadržaja u tabeli */
    font-weight: bold;
}


.comments {
    margin: 0 auto;
    background-image: url(girl.jpg);
    background-size: cover;
    background-position: center center;
}

.comment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.comment-container .main-title {
    color: #e8e4c9;
    text-align: center;
}

.comment-column {
    border: 3px solid #e8e4c9;
    padding: 20px;
    margin: 10px;
    width: 250px;
    flex: 1 1 200px;
    /* Flexible size */
    max-width: 300px;
    color: #e8e4c9;
}

.comment-name {
    bottom: 10px;
    right: 10px;
    display: flex;
    align-content: flex-end;
    text-align: right;
    color: #e8e4c9;
}


.contact-container {
    background-image: url(footerpozadina.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.contacts {
    margin: 0;
    padding: 0 5% 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.contact-left {
    min-width: 300px;
    /* Minimalna širina za bolje prilagođavanje */
    align-items: flex-start;
    flex-direction: column;
}

.contact-right {
    min-width: 280px;
    /* Minimalna širina za bolje prilagođavanje */
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    /* Poravnanje sadržaja desno */
    padding-bottom: 2%;
}

.contact-container .list-item {
    display: flex;
    align-items: center;
    color: #eee;
    font-size: 10px;
    width: 100%;
}

.contact-container .list-item a {
    color: #030303;
    text-decoration: none;
}

.contact-container .list-item img {
    width: 100px;
    /* Širina slike */
    max-width: 40px;
    max-height: 40px;
    height: auto;
    margin-right: 15px;
}

.social-icons {
    display: flex;
    gap: 55px;
    /* Razmak između ikonica */
}

.social-icons-name {
    display: flex;
    gap: 30px;
    color: #eee;
}

.flags {
    display: flex;
    gap: 5px;
}

.flags img {
    width: 30px;
    /* Širina zastava */
    height: auto;
    margin-right: 5px;
}

.contact-logo {
    max-width: 100%;
    /* Osigurava da slike budu responsive */
    height: auto;
    /* Održava proporcije */
}

.languages {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .contact-logo {
        height: 100px;
    }

    .contact-right {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        min-width: 200px;
    }

    .contact-left {
        min-width: 150px;
    }

    .contact-container .list-item {
        width: 100%;
        height: 100%;
    }

    .contact-container .list-item img {
        width: 100px;
        height: auto;
        margin-bottom: 15px;
    }

    .social-icons {
        gap: 15px;
        /* Razmak između ikonica */
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
    }

    .social-icons-name {
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        margin: 10px 0 0 20px;
        font-size: 10px;
    }

    td {
        border: 2px solid #030303;
        padding: 4px;
        text-align: center;
        /* Centriranje sadržaja u tabeli */
        font-weight: normal;
    }

    .flags {
        display: flex;
        gap: 2px;
    }

    .flags img {
        width: 15px;
        /* Širina zastava */
        height: auto;
        margin-right: 3px;
    }
}