/*######### Defaults #######*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eee;
    /* font-family: Arial, sans-serif; */
}

nav {
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.contact {
    background-image: url(footer.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
}

.contact-data {
    background-image: url(white.webp);
    background-size: cover;
    background-position: center center;
    padding: 0 20px;
    height: 300px;
    width: 95%;
}

.section-1 {
    padding: 30px;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

article p {
    font-size: 25px;
    padding: 10px;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: #e8e4c9;
    background-image: url(backgruond.jpg);
}

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px 0 0;
    width: 100%;
}

.price-table {
    border: 3px #030303 solid;
    border-collapse: collapse;
    width: 70%;
}

.price-table tr>* {
    font-size: 15px;
    text-align: center;
    border: 3px black solid;
    padding: 30px 30px 30px 30px;
    font-weight: bold;
}

.tips-table {
    border-collapse: collapse;
    margin: 0 40px;
}

.tips-table tr {
    font-size: 19px;
    text-align: center;
}

.tips-table tr>* {
    font-size: 20px;
    padding: 0 15px;
    text-align: left;
}

#Icon {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#explain-icon {
    width: 140px;
    height: 140px;
    padding: 10px;
}

.explain {
    margin: 0 60px 0 10px;
    padding: 10px 10px 0 90px;
    width: 80%;
}

.explain tr>* {
    font-size: 20px;
    padding: 0 60px 0 10px;
    text-align: left;
}

textarea {
    width: 87%;
    height: 75px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 15px;
}

div input {
    width: 60%;
    height: 35px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

div.child-1 p {
    padding: 0 30px 0 30px;
}

/* section#Comments {
    display: block;
    height: 100%;
    background-image: url(skijasica.jpeg);
} */

.about {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
}

/* .line {
    border-style: dotted none none none;
    border-color: #666;
    width: 100%;
    border-width: thick;
    margin: 10% 0;
} */

section.baner #myVideo {
    display: block;
    width: 100%;
    margin-top: 24px;
}

#image-about {
    border: 1px #030303 solid;
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

figcaption {
    padding-top: 6px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

#myBtn:hover {
    font-size: 35px;
    color: red;
}

button {
    background-color: transparent;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/*########### Nav bar ##########*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
    text-align: center;

}

ul.topnav li a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    min-height: 45px;
    padding-left: 7px;
    padding-right: 7px;
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

ul.topnav li a img {
    width: auto;
    height: 45px;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*######### MOBILE #######*/

/* @media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    .child {
        text-align: center;
        width: 50%;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: flex;
        text-align: left;
    }

    .col-6,
    .col-4,
    .col-5,
    .col-7 {
        width: 100%;
        margin: 0;
    }

    div.mobileStack {
        width: 50%;
        display: block;
    }

    div.leftSide_col,
    div.rightSide_col {
        margin: 15px;
    }

    textarea,
    div input {
        width: 85%;
    }

    div.box {
        display: block;
        padding: 5px;
    }

    div.slopeIcon {
        margin: 10px;
    }

    div.slopeIcon img {
        width: 100%;
    }

    section {
        padding: 0px;
    }
} */

.class-container {
    max-width: 800px;
    margin: 0 auto;
}

.main-title {
    text-align: left;
    width: 100%;
    font-size: 60px;
    font-family: Arial, sans-serif;
    margin: 2% 0 5% 10%;
}

.about-title {
    text-align: left;
    font-size: 3em;
    font-family: Arial, sans-serif;
}

.class-sections {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    /* Razmak između celine */
    margin: 0 15%;
}

.class-section {
    border: 1px solid #e8d1ae;
    border-radius: 5px;
    padding: 20px;
    background-color: #e8d1ae;
    flex: 1;
    /* Da svaka celina zauzima jednaku širinu */
    display: flex;
    flex-direction: column;
    /* Postavi raspored u kolonu */
    height: auto;
}

.class-header {
    display: flex;
    /* Logo i naslov u istom redu */
    align-items: center;
    /* Poravnaj elemente vertikalno */
    margin-bottom: 10px;
    /* Razmak između zaglavlja i teksta */
}

.logo {
    width: 80px;
    /* ili prema tvojoj slici */
    height: auto;
    margin-right: 10px;
    /* Razmak između logoa i naslova */
}

.section-title {
    margin: 0;
    /* Ukloni margin gornjem i donjem delu */
    font-size: 1.5em;
}

.section-text {
    font-size: 1em;
    color: #333;
}

/* Media Query za responsive */
@media (max-width: 600px) {
    .class-sections {
        flex-direction: column;
        /* Celine jedna ispod druge */
        gap: 20px;
    }

    .class-section {
        margin-right: 0;
        /* Ukloni margin između celine */
        margin-bottom: 20px;
        /* Razmak između celine u vertikalnom rasporedu */
        flex-direction: column;
    }

    .class-section:last-child {
        margin-bottom: 0;
        /* Ukloni margin poslednjoj celini */
    }

    .class-header {
        flex-direction: row;
        /* Održavaj logo i naslov u istom redu */
    }
}

.about-container {
    max-width: 100%;
    margin: 0 5% 0 2%;
}

.about-sections {
    display: flex;
    gap: 100px;
    width: 100%;
}

.left-column {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    max-width: 630px;
    height: auto;
}

.about-section-text {
    font-size: 1em;
    color: #333;
}

.section-list {
    list-style-type: disc;
    /* Stil liste */
    padding-left: 10px;
    /* Razmak između liste i ivice */
}

.right-column {
    /* max-width: 500px; */
    height: auto;
    /* Obezbedi da desna kolona zauzima istu visinu */
}

.line {
    /* width: 100%; */
    /* Širina linije */
    /* max-width: 500px; */
    margin: 50px 0;
    /* Razmak iznad i ispod linije */
    border-style: dotted none none none;
    border-color: #666;
    /* Boja linije */
    border-width: thick;
    /* margin: 10% 0; */
}

.image {
    width: 100%;
    /* max-width: 500px; */
    /* Prilagodljiva širina slike */
    height: auto;
    /* Održava proporcije slike */
    /* flex-grow: 1; */
    /* Slika raste da popuni preostalu visinu */
    /* object-fit: cover; */
    /* Prilagodi sliku da popuni prostor */
    min-height: 400px;
    /* Minimalna visina slike */
    border: 1px #030303 solid;
    border-radius: 10px;
}

.contact-button {
    background-color: #cdad7d;
    /* Boja pozadine dugmeta */
    color: #222344;
    /* Boja teksta */
    padding: 10px 15px;
    /* Unutrašnji razmak */
    border-radius: 5px;
    /* Zaobljeni uglovi */
    text-align: center;
    /* Centriranje teksta */
    margin-top: 100px;
    /* Razmak iznad dugmeta */
    width: 300px;
}

.contact-button a {
    color: #222344;
    /* Boja linka */
    text-decoration: none;
    /* Ukloni podvlačenje */
    font-weight: bold;
    /* Podebljani tekst */
}

.contact-button a:hover {
    text-decoration: underline;
    /* Podvlačenje na hover */
    opacity: 0.9;
    /* Lagano smanjenje neprozirnosti */
}

/* Media Query za responsive */
@media (max-width: 600px) {
    .about-sections {
        flex-direction: column;
        /* Celine jedna ispod druge */
    }

    .left-column,
    .right-column {
        width: 100%;
        /* Obje kolone zauzimaju punu širinu */
        height: auto;
        /* Visina automatski */
        margin-bottom: 20px;
        /* Razmak između kolona */
    }

    .right-column {
        height: auto;
        /* Osiguraj da desna kolona nije fiksne visine */
    }
}

.services-container {
    width: 100%;
}

.services-title {
    text-align: left;
    /* font-size: 60px; */
    font-family: Arial, sans-serif;
    margin: 2% 0 0 10%;
}

.services-list {
    text-align: left;
    /* font-size: 60px; */
    font-family: Arial, sans-serif;
    margin: 2% 0 0 9%;
}


.list-container {
    display: flex;
    flex-direction: column;
    /* Postavlja listu u kolonu */
    gap: 30px;
    /* Razmak između stavki */
    margin: 0 10% 5% 20%;
}

.list-item {
    display: flex;
    /* Flex za svaki element liste */
    align-items: center;
    /* Vertikalno centriranje */
    width: 100%;
    /* Podesi širinu na 100% */
}

.list-image {
    width: 100px;
    /* Fiksna širina slike */
    height: auto;
    /* Održava proporcije slike */
    margin-right: 15px;
    /* Razmak između slike i teksta */
}

.list-text {
    flex: 1;
    /* Tekst zauzima preostalu širinu */
}

p {
    font-size: 1.5em;
    /* Podesi veličinu opisa */
}

/* Responsive prilagođavanje */
@media (max-width: 600px) {
    .list-image {
        width: 80px;
        /* Manja širina slike na manjim ekranima */
    }

    p {
        font-size: 0.9em;
        /* Manja veličina opisa */
    }
}


.price-container {
    display: flex;
    justify-content: center;
    /* Centriranje kolona */
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.price-container .left-column {
    max-width: 500px;
    /* Ograničava maksimalnu širinu tabele */
    margin: 0 50px 20px 0;
    /* Razmak između kolona smanjen na 50px */
    overflow-x: auto;
    /* Omogućava horizontalno skrolovanje ako je potrebno */

}

.price-container .list-container {
    width: 100%;
    max-width: 600px;
    /* Ograničava širinu liste */
    display: flex;
    flex-direction: column;
    /* Postavlja listu u kolonu */
    margin: 0;
}

.price-container table {
    width: 100%;
    border-collapse: collapse;
    /* Kombinovanje ivica ćelija */
}

td {
    border: 3px solid #030303;
    /* Bordura za ćelije */
    padding: 8px;
    text-align: center;
    /* Centriranje sadržaja u tabeli */
    font-weight: bold;
}


.comment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-image: url(girl.jpg);
    background-size: cover;
    background-position: center center;
}

.comment-container .main-title {
    color: #e8e4c9;
    text-align: center;
}

.comment-column {
    border: 3px solid #e8e4c9;
    padding: 20px;
    margin: 10px;
    width: 250px;
    /* position: relative; */
    flex: 1 1 200px;
    /* Flexible size */
    max-width: 300px;
    /* Maximum width */
    color: #e8e4c9;
}

.comment-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.contact-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Poravnanje u visini */
    flex-wrap: wrap;
    /* Omogućava prelamanje elemenata */
    background-image: url(footer.jpg);
    background-size: cover;
    background-position: center center;

    position: relative;
    width: 100%;
    height: 100%;
}

.contact-left {
    flex: 1;
    min-width: 300px;
    /* Minimalna širina za bolje prilagođavanje */
    padding-right: 20px;
}

.contact-right {
    flex: 1;
    min-width: 300px;
    /* Minimalna širina za bolje prilagođavanje */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    /* Poravnanje sadržaja desno */
    margin-left: 20px;
    /* Razmak sa leve strane */
}

.contact-container .list-item {
    display: flex;
    align-items: center;
    color: #eee;
    font-size: 10px;
    /* margin-left: 20px; */
    margin: 0 0 0 10%;
}

.contact-container .list-item img {
    width: 100px;
    /* Širina slike */
    max-width: 40px;
    max-height: 40px;
    height: auto;
    margin-right: 15px;
}

.social-icons {
    display: flex;
    gap: 55px;
    /* Razmak između ikonica */
}

.social-icons-name {
    display: flex;
    gap: 30px;
    color: #eee;
}

.flags {
    display: flex;
    gap: 5px;
}

.flags img {
    width: 30px;
    /* Širina zastava */
    height: auto;
    margin-right: 5px;
}

.contact-logo {
    max-width: 100%;
    /* Osigurava da slike budu responsive */
    height: auto;
    /* Održava proporcije */
}

.languages {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .contact-logo {
        height: 160px;
    }

    .contact-right {
        align-items: flex-start;
        align-content: flex-start;
        margin: 0 0 0 10%;
    }

    .contact-container .list-item img {
        width: 100px;
        height: auto;
        margin-bottom: 15px;
    }

    .social-icons {
        gap: 75px;
        /* Razmak između ikonica */
    }
}